.product-menu {
  width: 35%;
  margin: auto;
  margin-top: 30px;

  @media screen and (max-width: 1100px) {
    width: 60%;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    margin-bottom: 100px;

  }

  .back-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
  
    @media screen and (max-width: 650px) {
      margin: 20px;
    }
  
    .left-arrow-icon {
      margin-right: 5px;
    }
  }

  .product-menu-title {
    margin-top: 30px;
    margin-left: 20px;

    @media screen and (max-width: 650px) {
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  .product-menu-subtitle {
    margin-bottom: 40px;

    @media screen and (max-width: 650px) {
      margin-bottom: 20px;
    }
  }

  .menu-categories {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30px;

    @media screen and (max-width: 650px) {
      flex-wrap: wrap;
    }

    .menu-category {
      border: 1px solid black;
      margin-right: 10px;
      padding: 8px;
      height: 40px;
      border-radius: 6px;
      cursor: pointer;

      @media screen and (max-width: 650px) {
        width: 40%;
        margin-bottom: 10px;
      }

      &:hover {
        background-color: rgb(173, 173, 173);
      }
    }

    .selected-category {
      background-color: rgb(173, 173, 173);
    }
  }

  .product-card-container {
    margin-left: 20px;

    @media screen and (max-width: 650px) {
      margin-top: 30px;
      margin-left: 0px;

    }
  
    .product-card {
      display: flex;
      align-items: center;
      margin: auto;
      border: 1px solid rgb(202, 202, 202);
      border-radius: 5px;
      margin-bottom: 10px;
      padding-left: 20px;
      height: 60px;
      box-shadow: 0px 0px 2px 2px rgb(228, 228, 228);
  
      @media screen and (max-width: 650px) {
        width: 80%;
      }

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      .product-card-text {
        margin-left: 40px;
        display: flex;
        flex-direction: column;

        .product-card-name {
          font-size: 20px;
        }

        .product-card-price {
          font-size: 16px;
        }

        .product-card-quantity {
          font-size: 16px;
        }
      } 
    }
  }
}

