.success-text {
  margin: auto;
  width: 40%;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;

  span {
    color: rgb(55, 194, 0);
  }

  @media screen and (max-width: 650px) {
    width: 90%;
    font-size: 30px;
  }

}