body {
  margin: 0px;
  font-family: 'Dosis', sans-serif !important;
}

.text {
  background-color: rgba(255, 255, 255, 0.847);
  margin: auto;
  margin-top: 140px;
  margin-bottom: auto;
  width: 600px;
  height: auto;
  padding: 25px;
  border-radius: 5px;
}

.lead {
  font-size: 22px !important;
}

.button {
  width: 200px;
  height: 50px;
  font-weight: 600 !important;
  display: block !important;
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px !important;
}

.title {
  margin-bottom: 20px;
  font-size: 50px !important;
}

.paragraph {
  margin-bottom: 20px;
}